.page {
  max-width: 1280px;
  max-height: 6875px;
  margin: 0 auto;
  background: #2A2C2F;
  color: #FFFFFF;
  font-family: Inter, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

}
