.places {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 92.3%;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}
