.header {
  max-width: 92.5%;
  margin: 28px 48px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 16px 16px 0;
  }
}
