.cover {
  margin: 92px auto;
  max-width: 92.5%;
  max-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    margin-left: 0;
    margin-right: 0;

  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
    margin: 90px auto;
  }
}
