.cover__overlay {
  min-width: 100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  background-color: rgb(42, 44, 47, 0.3);
}

.cover__overlay:hover {
  background: rgb(42, 44, 47, 0.8)
}




