.website__link {

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity 0.2s linear;
  opacity: 1;
}

.website__link:hover {
  opacity: 0.8;
}

