.place {
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 460px 49.18%;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;

}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.41% 49.13%;
    column-gap: 32px;

  }
}
