.footer {
  margin: 0 48px 24px;
  max-width: 92.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 58.12%;
    margin: 64px auto 24px 16px;
    flex-direction: column;
  }
}
