.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 50px;
    line-height: 50px;
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 42px;
    line-height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 38px;
    line-height: 38px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
